/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.responsive-block {
  width: var(--block-width);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--card-main-weight);
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
}

.header {
  margin: 100px auto 98px;
  background-color: #fff;
  font-family: var(--accent-font);
  text-align: center;
  padding: var(--header-padding-block) var(--header-padding-inline);
}

.title {
  font-size: var(--header-fs);
}

.subtitle{
  font-size: var(--subheader-fs);
  margin-block-start: 20px;
}