/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.responsive-block {
  width: var(--block-width);
}

.page {
  min-height: 100vh;
  font-family: var(--main-font);
  font-size: 18px;
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--card-main-weight);
}

.header {
  margin: 100px auto 98px;
  padding: var(--header-padding-block) var(--header-padding-inline);
  font-family: var(--accent-font);
  text-align: center;
  background-color: #fff;
}

.title {
  font-size: var(--header-fs);
}

.subtitle{
  margin-block-start: 20px;
  font-size: var(--subheader-fs);
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-bottom: 50px;
  background-color: #fff;
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--card-header-weight);
  padding: 4px 10px;
  border: 2px solid black;
}

.label__container {
  position: relative;
  width: 100%;
  height: var(--block-width);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  /* фоллбэк */
  text-shadow: 
    -1px -1px 0 var(--label-stroke-color),
    1px -1px 0 var(--label-stroke-color),
    -1px 1px 0 var(--label-stroke-color),
    1px 1px 0 var(--label-stroke-color);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--label-stroke-color)) or 
          (text-stroke: 1px var(--label-stroke-color)) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
  }
}

.card__image{
  inline-size: 100%;
  border: 2px solid black;
  height: var(--block-width);
}

.card__description {
  display: grid;
  grid-template-rows: 1fr 1em min-content;
  gap: 25px;
  padding: 25px;
}

.card__like-button {
  display: flex;
  border: none;
  background-color: transparent;
  justify-content: end;
  align-items: center;
}

.button__text{
  border: 1px solid #000;
  padding: 12.5px 37px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
}

.save__dialog {
  margin: 0 auto;
  text-align: center;
}

.save__dialog .button__text {
  border: none;
}

