/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.responsive-block {
  width: var(
    --block-width,
    clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem)
  );
}

.page {
  min-height: 100vh;
  font-family: var(--main-font, "Inter", "Segoe UI", sans-serif);
  font-size: 18px;
  background-image: var(
    --background-gradient,
    repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%)
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--card-main-weight, 410);
}

.header {
  margin: 100px auto 96px;
  border: 2px solid var(--accent-color, #000);
  padding: var(
      --header-padding-block,
      clamp(7.625rem, 6.5rem + 4.8vw, 8.125rem)
    )
    var(--header-padding-inline, clamp(1rem, -7.5rem + 22.6667vw, 7.65625rem));
  font-family: var(--accent-font, "PressStart2P", fantasy);
  text-align: center;
  background-color: #fff;
}

.logo {
  font-size: var(
    --header-fs,
    clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem)
  );
}

.title {
  margin-block-start: 20px;
  font-size: var(
    --subheader-fs,
    clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem)
  );
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-bottom: 50px;
  background-color: #fff;
}

.card__title {
  border: 2px solid black;
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--card-header-weight, 715);
}

.label__container {
  position: relative;
  width: 100%;
  height: var(
    --block-width,
    clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem)
  );
  border: 2px solid black;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font, "Press Start 2P", fantasy);
  font-size: 14px;
  /* фоллбэк */
  text-shadow: -1px -1px 0 var(--label-stroke-color, rgba(255, 255, 255, 0.8)),
    1px -1px 0 var(--label-stroke-color),
    -1px 1px 0 var(--label-stroke-color, rgba(255, 255, 255, 0.8)),
    1px 1px 0 var(--label-stroke-color, rgba(255, 255, 255, 0.8));
  mix-blend-mode: hard-light;
}

@supports (
    -webkit-text-stroke: 1px var(--label-stroke-color, rgba(255, 255, 255, 0.8))
  )
  or (text-stroke: 1px var(--label-stroke-color, rgba(255, 255, 255, 0.8))) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color, rgba(255, 255, 255, 0.8));
    text-stroke: 1px var(--label-stroke-color, rgba(255, 255, 255, 0.8));
  }
}

.card__image {
  height: var(
    --block-width,
    clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem)
  );
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.card__description {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr min-content min-content;
  row-gap: 25px;
  border: 2px solid #000;
  border-top: none;
  padding: 25px;
}

.card__text {
  grid-column: span 6;
  font-size: 18px;
  line-height: 21px;
}

.button {
  background-color: var(--main-color, #fff);
}

.button__text {
  position: relative;
  z-index: 2;
  padding: 12.5px 37px;
  color: #fff;
  font-family: var(--accent-font, "PressStart2P", fantasy);
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.card__like-button {
  grid-column-start: 5;
  justify-self: end;
  margin-inline-end: 8px;
  border: none;
  padding: 0;
  background-color: transparent;
  block-size: 36px;
  inline-size: 36px;
}

.card__like-button .button__text {
  border: 1px solid #000;
}

.like-icon {
  width: 40px;
  height: 36px;
  border: 2px solid transparent;
  transition: border-color 0.4s ease;
}

.card__text-button {
  position: relative;
  z-index: 1;
  padding: 6px 35px;
  background-color: var(--main-color, #fff);
  transition: box-shadow 0.3s ease;
}

.card__text-button .button__text {
  padding: 0;
}

.save__dialog {
  position: relative;
  z-index: 2;
  margin-block-end: 100px;
  padding: 13px 20px;
}

.save__dialog .button__text {
  margin-inline-start: 8px;
  padding: 0;
  line-height: 0.9;
}

.button__icon {
  position: relative;
  z-index: 2;
  color: var(--main-color, #fff);
  block-size: 21px;
  inline-size: 21px;
  mix-blend-mode: difference;
}

.modal {
  border: 2px solid var(--text-color, #000);
  font-family: var(--accent-font, "PressStart2P", fantasy);
  line-height: 1.5;
  text-transform: uppercase;
  max-inline-size: 355px;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
  padding: 30px 28px;
}

.modal::backdrop {
  opacity: 0.75;
  background-color: var(--accent-color, #000);
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  line-height: 1.5;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  position: relative;
  padding: 8px 130px;
  line-height: 0.9;
  background-color: var(--main-color, #fff);
  inline-size: 100%;
}

.modal__button .button__text {
  padding: 0;
}
